.mainWrapper {
	@apply bg-black w-full h-72 flex gap-2 flex-col items-center justify-between py-12;
	background-image: url("/news-main.jpg");
	object-fit: cover;
	background-repeat: no-repeat;

	> h1 { 
		@apply text-lg font-medium
	}
	> h2 { 
		@apply text-3xl font-semibold leading-10
	}

	> * {
		@apply text-white text-center
	}
}
